ul{
   display: flex; 
   justify-content: center;

}

ul>li {
    list-style: none;
    padding: 10px;
}

li > a {
    text-decoration: none;
    color: blueviolet;
}



















/*
   FOOTER MARIUZZA
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}